*.o
*.lo
*.la
Doxyfile
Makefile
.deps
.libs
config.h
config.log
config.status
libtool
linuxsampler.pc
linuxsampler.spec
man/linuxsampler.1
man/lscp.1
src/hostplugins/lv2/manifest.ttl
src/linuxsampler
src/ls_instr_script
src/shell/lscp
stamp-h1
